// Place all the styles related to the Tables controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// --- Datatables
//= require datatables-colvis/css/dataTables.colVis
//= require datatables/media/css/dataTables.bootstrap
//= require dataTables.fontAwesome/index
