h3 Lists
.container-md
  .card
    .card-subheader Text tems
    ul.mda-list
      li.mda-list-item
        .mda-list-item-text
          h3 Min Li Chan
          h4 Brunch this weekend?
          p  I&apos;ll be in your neighborhood doing errands
      li.mda-list-item
        .mda-list-item-text
          h3: a(href="#") Min Li Chan
          h4 Brunch this weekend?
          p  I&apos;ll be in your neighborhood doing errands
    .card-divider
    .card-subheader Image with text items
    .mda-list
      .mda-list-item
        img.mda-list-item-img(src="app/img/user/01.jpg", alt="List user")
        .mda-list-item-text
          h3 Min Li Chan
          h4 Brunch this weekend?
          p  I&apos;ll be in your neighborhood doing errands
      .mda-list-item
        img.mda-list-item-img(src="app/img/user/02.jpg", alt="List user")
        .mda-list-item-text
          h3: a(href="#") Min Li Chan
          h4 Brunch this weekend?
          p  I&apos;ll be in your neighborhood doing errands
      .mda-list-item
        img.mda-list-item-img(src="app/img/user/03.jpg", alt="List user")
        .mda-list-item-text
          h3 Min Li Chan
          h4 Brunch this weekend?
          p  I&apos;ll be in your neighborhood doing errands

    .card-divider
    .card-subheader Icons with text items
    .mda-list
      .mda-list-item
        .mda-list-item-icon.bg-primary
          em.fa.fa-star.fa-lg
        .mda-list-item-text.mda-2-line
          h3 Min Li Chan
          h4 Brunch this weekend?
      .mda-list-item
        .mda-list-item-icon.bg-info
          em.fa.fa-coffee.fa-lg
        .mda-list-item-text.mda-2-line
          h3 Min Li Chan
          h4 Brunch this weekend?
      .mda-list-item
        .mda-list-item-icon.bg-purple
          em.fa.fa-cloud.fa-lg
        .mda-list-item-text.mda-2-line
          h3 Min Li Chan
          h4 Brunch this weekend?
      .mda-list-item
        .mda-list-item-initial.bg-pink M
        .mda-list-item-text.mda-2-line
          h3 Min Li Chan
          h4 Brunch this weekend?
