h2 Native Angular.js solution
p With ngDialog you don't need jQuery or Bootstrap to create dialogs for
  code ng-app:
ul
  li Use it in controllers, factories or directives
  li Create your own directives
  li Style all UI and templates
  li Configure themes
  li Add animations and effects
p.mt Module is shipped with both
  code ngDialog
  | service and default directive.
.text-center
  button.btn.btn-info.btn-large(type='button', ng-click='closeThisDialog(0)') Ok, Got It!
