<h3>Morris JS</h3>
<div class="container-fluid">
   <div class="row">
      <div class="col-md-6">
         <div class="panel panel-default">
            <div class="panel-heading">Line</div>
            <div class="panel-body">
               <div id="morris-line"></div>
            </div>
         </div>
      </div>
      <div class="col-md-6">
         <div class="panel panel-default">
            <div class="panel-heading">Area</div>
            <div class="panel-body">
               <div id="morris-area"></div>
            </div>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-md-6">
         <div class="panel panel-default">
            <div class="panel-heading">Bar</div>
            <div class="panel-body">
               <div id="morris-bar"></div>
            </div>
         </div>
      </div>
      <div class="col-md-6">
         <div class="panel panel-default">
            <div class="panel-heading">Donut</div>
            <div class="panel-body">
               <div id="morris-donut"></div>
            </div>
         </div>
      </div>
   </div>
</div>