// START PRODUCTS
section#products.products
    .container
        // SECTION HEADER
        .section-header.wow.fadeIn.animated(data-wow-offset='15', data-wow-duration='1.3s')
          h2 Our other products
          .section-description
            span Click on images and discover more products
        // END SECTION HEADER
        .row
            .col-md-1
            .col-md-5
                .product-thumb.wow.fadeInUp.animated
                    a(href="http://wrapbootstrap.com/preview/WB0901P31", target="_blank")
                        img.img-responsive(src="img/products/centric.png", alt="Centric")
                    h4.product-caption Centric
                        small AngularJS and jQuery based admin template
            .col-md-5
                .product-thumb.wow.fadeInUp.animated
                    a(href="http://wrapbootstrap.com/preview/WB020NMN7", target="_blank")
                        img.img-responsive(src="img/products/beadmin.png", alt="BeAdmin")
                    h4.product-caption BeAdmin
                        small jQuery and Laravel admin template
