// START APP SHOTS
section.versions#versions
  .container
    // START SECTION HEADER
    .section-header.wow.fadeIn.animated(data-wow-offset='120', data-wow-duration='1.3s')
      // SECTION TITLE
      h2 Multiple Versions
      .section-description SCSS/LESS/JADE + Gulp build system &amp; Seed Projects for all versions
    // END SECTION HEADER
    .row.bottom-space
      .col-lg-4.col-sm-6.col-xs-12
        .media.media-card
            .media-left.media-middle
                a(href='#')
                    img.wow.zoomIn.animated.img-responsive.version-pic(src="img/versions/angularjs.png", width="128px", alt="", data-no-retina="", data-wow-offset='15', data-wow-duration='.5s')
            .media-body
                h4.media-heading AngularJS
                p.media-card-text AngularJS lets you extend HTML for your application. The resulting environment is extraordinarily expressive, readable, and quick to develop.
                .text-right: a.btn.btn-sm.btn-default(href="../../backend-angular/")
                  | Live Demo
      .col-lg-4.col-sm-6.col-xs-12
        .media.media-card
            .media-left.media-middle
                a(href='#')
                    img.wow.zoomIn.animated.img-responsive.version-pic(src="img/versions/html5.png", width="128px", alt="", data-no-retina="", data-wow-offset='15', data-wow-duration='.5s')
            .media-body
                h4.media-heading Static HTML5
                p.media-card-text A project based on jQuery and HTML5 for non Angular users. This version will simplify any integration with many other popular frameworks on the web.
                .text-right: a.btn.btn-sm.btn-default(href="../../backend-jquery/") Live Demo
      .col-lg-4.col-sm-6.col-xs-12
        .media.media-card
            .media-left.media-middle
                a(href='#')
                    img.wow.zoomIn.animated.img-responsive.version-pic(src="img/versions/angular-material.png", width="128px", alt="", data-no-retina="", data-wow-offset='15', data-wow-duration='.5s')
            .media-body
                h4.media-heading Angular Material
                p.media-card-text An implementation of Material Design in Angular.js with a set of reusable, well-tested, and accessible UI components based on the Material Design system.
                .text-right: a.btn.btn-sm.btn-default(href="../../material/") Live Demo

      .col-lg-4.col-sm-6.col-xs-12
        .media.media-card
            .media-left.media-middle
                a(href='#')
                    img.wow.zoomIn.animated.img-responsive.version-pic(src="img/versions/net.png", width="128px", alt="", data-no-retina="", data-wow-offset='15', data-wow-duration='.5s')
            .media-body
                h4.media-heading Visual Studio + MVC5
                p.media-card-text MVC5 for Visual Studio 2013. Modular JavaScript and all assets bundle ready to use. Also featuring an Entity demo using the theme components.
                .text-right: a.btn.btn-sm.btn-default(href="http://themicon-001-site1.htempurl.com/") Live Demo
      .col-lg-4.col-sm-6.col-xs-12
        .media.media-card
            .media-left.media-middle
                a(href='#')
                    img.wow.zoomIn.animated.img-responsive.version-pic(src="img/versions/ror.png", width="128px", alt="", data-no-retina="", data-wow-offset='15', data-wow-duration='.5s')
            .media-body
                h4.media-heading Ruby on Rails
                p.media-card-text  Modular JavaScript and SASS stylesheets. Developed to serve assets per controller, avoid bloating views with unnecessary requests. Heroku ready!.
                .text-right: a.btn.btn-sm.btn-default(href="https://angle-on-rails.herokuapp.com/") Live Demo
      .col-lg-4.col-sm-6.col-xs-12
        .media.media-card
            .media-left.media-middle
                a(href='#')
                    img.wow.zoomIn.animated.img-responsive.version-pic(src="img/versions/meanjs.png", width="128px", alt="", data-no-retina="", data-wow-offset='15', data-wow-duration='.5s')
            .media-body
                h4.media-heading MeanJS
                p.media-card-text A full-stack JavaScript solution that helps you build fast, robust and maintainable web apps. Supports LESS, modular JavaScript and Swig templates.
                .text-right: a.btn.btn-sm.btn-default(href="https://angle-on-mean.herokuapp.com/") Live Demo

      .col-lg-4.col-sm-6.col-xs-12
        .media.media-card
            .media-left.media-middle
                a(href='#')
                    img.wow.zoomIn.animated.img-responsive.version-pic(src="img/versions/meteor.png", width="128px", alt="", data-no-retina="", data-wow-offset='15', data-wow-duration='.5s')
            .media-body
                h4.media-heading MeteorJS
                p.media-card-text Meteor is a complete open source platform for building web and mobile apps in pure JavaScript. Based on Node.js with support for LESS stylesheets.
                .text-right: a.btn.btn-sm.btn-default(href="https://45.55.64.191") Live Demo
      .col-lg-4.col-sm-6.col-xs-12
        .media.media-card
            .media-left.media-middle
                a(href='#')
                    img.wow.zoomIn.animated.img-responsive.version-pic(src="img/versions/vs.png", width="128px", alt="", data-no-retina="", data-wow-offset='15', data-wow-duration='.5s')
            .media-body
                h4.media-heading MVC6 + ASP5
                p.media-card-text MVC6 for Visual Studio 2015. Modular JavaScript and SCSS stylesheets ready to use. Featuring a Gulp build system to easy your development process.
                .text-right: a.btn.btn-sm.btn-default(href="", disabled, onclick="alert('Demo not available yet'); return false;") Live Demo
      .col-sm-2.visible-sm.visible-md
      .col-lg-4.col-sm-8.col-xs-12
        .media.media-card
            .media-left.media-middle
                a(href='#')
                    img.wow.zoomIn.animated.img-responsive.version-pic(src="img/versions/react.png", width="128px", alt="", data-no-retina="", data-wow-offset='15', data-wow-duration='.5s')
            .media-body
                h4.media-heading ReactJS
                p.media-card-text A Javascript library for building user interfaces. Independent from your technology stack, a simpler programming model and reactive data flow.
                .text-right: a.btn.btn-sm.btn-default(href="../../reactjs/") Live Demo
    .text-center
      p
        img.wow.zoomIn.animated(src="img/versions/sass.png", alt="", data-no-retina="", data-wow-offset='15', data-wow-duration='.5s')
        | Main projects also includes Sass version !
