<h3>File Upload</h3>
<blockquote class="box-placeholder">
   <p>File Upload widget with multiple file selection, drag&amp;drop support, progress bars, validation and preview images, audio and video for jQuery.
      <br>Supports cross-domain, chunked and resumable file uploads and client-side image resizing.
      <br>Works with any server-side platform (PHP, Python, Ruby on Rails, Java, Node.js, Go etc.) that supports standard HTML form file uploads.</p>
</blockquote>
<br>
<!-- The file upload form used as target for the file upload widget-->
<form id="fileupload" action="//jquery-file-upload.appspot.com/" method="POST" enctype="multipart/form-data">
   <!-- Redirect browsers with JavaScript disabled to the origin page-->
   <noscript>
      <input type="hidden" name="redirect" value="https://blueimp.github.io/jQuery-File-Upload/">
   </noscript>
   <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload-->
   <div class="row fileupload-buttonbar">
      <div class="col-lg-7">
         <!-- The fileinput-button span is used to style the file input field as button-->
         <span class="btn btn-success fileinput-button"><i class="fa fa-fw fa-plus"></i>
            <span>Add files...</span>
            <input type="file" name="files[]" multiple="">
         </span>
         <button type="submit" class="btn btn-primary start"><i class="fa fa-fw fa-upload"></i>
            <span>Start upload</span>
         </button>
         <button type="reset" class="btn btn-warning cancel"><i class="fa fa-fw fa-times"></i>
            <span>Cancel upload</span>
         </button>
         <button type="button" class="btn btn-danger delete"><i class="fa fa-fw fa-trash"></i>
            <span>Delete</span>
         </button>
         <!-- The global file processing state-->
         <span class="fileupload-process"></span>
      </div>
      <!-- The global progress state-->
      <div class="col-lg-5 fileupload-progress fade">
         <!-- The global progress bar-->
         <div role="progressbar" aria-valuemin="0" aria-valuemax="100" class="progress progress-striped active">
            <div style="width:0%;" class="progress-bar progress-bar-success"></div>
         </div>
         <!-- The extended global progress state-->
         <div class="progress-extended">&nbsp;</div>
      </div>
   </div>
   <!-- The table listing the files available for upload/download-->
   <table role="presentation" class="table table-striped">
      <tbody class="files"></tbody>
   </table>
</form>
<!-- The template to display files available for upload-->
<script id="template-upload" type="text/x-tmpl">
   {% for (var i=0, file; file=o.files[i]; i++) { %}
       <tr class="template-upload fade">
           <td>
               <span class="preview"></span>
           </td>
           <td>
               <p class="name">{%=file.name%}</p>
               <strong class="error text-danger"></strong>
           </td>
           <td>
               <p class="size">Processing...</p>
               <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
           </td>
           <td>
               {% if (!i && !o.options.autoUpload) { %}
                   <button class="btn btn-primary start" disabled>
                       <em class="fa fa-fw fa-upload"></em>
                       <span>Start</span>
                   </button>
               {% } %}
               {% if (!i) { %}
                   <button class="btn btn-warning cancel">
                       <em class="fa fa-fw fa-times"></em>
                       <span>Cancel</span>
                   </button>
               {% } %}
           </td>
       </tr>
   {% } %}
</script>
<!-- The template to display files available for download-->
<script id="template-download" type="text/x-tmpl">
   {% for (var i=0, file; file=o.files[i]; i++) { %}
       <tr class="template-download fade">
           <td>
               <span class="preview">
                   {% if (file.thumbnailUrl) { %}
                       <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                   {% } %}
               </span>
           </td>
           <td>
               <p class="name">
                   {% if (file.url) { %}
                       <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                   {% } else { %}
                       <span>{%=file.name%}</span>
                   {% } %}
               </p>
               {% if (file.error) { %}
                   <div><span class="label label-danger">Error</span> {%=file.error%}</div>
               {% } %}
           </td>
           <td>
               <span class="size">{%=o.formatFileSize(file.size)%}</span>
           </td>
           <td>
               {% if (file.deleteUrl) { %}
                   <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                       <em class="fa fa-fw fa-trash"></em>
                       <span>Delete</span>
                   </button>
               {% } else { %}
                   <button class="btn btn-warning cancel">
                       <em class="fa fa-fw fa-times"></em>
                       <span>Cancel</span>
                   </button>
               {% } %}
           </td>
       </tr>
   {% } %}
</script>
