h3 Infinite Scroll


div(ng-controller='InfiniteScrollController as inf')
  
  h4.page-header UI Scroll
  .row(ui-scroll-viewport='', style='height:230px; overflow-y: auto;')
    .col-xs-3(ui-scroll='item in datasource')
      .alert.alert-info {{item}}

  h4.page-header Infinte Scroll
  .row(infinite-scroll='inf.loadMore()', infinite-scroll-distance='3')
    .col-sm-2.col-xs-3.mb(ng-repeat='image in inf.images')
      .alert.alert-purple.text-center 
        h2.mv-lg {{image}}

