.block-center.mt-xl.wd-xl(ng-controller="RegisterFormController as reg")
  // START panel
  .panel.panel-dark.panel-flat
    .panel-heading.text-center
      a(href="#")
        img.block-center.img-rounded(src='app/img/logo.png', alt='Image')
    .panel-body
      p.text-center.pv SIGNUP TO GET INSTANT ACCESS.
      form.form-validate.mb-lg(role='form', name="reg.registerForm", novalidate='', ng-submit="reg.register()")
        .form-group.has-feedback
          label.text-muted Email address
          input.form-control(type='email', name="account_email" placeholder='Enter email', autocomplete="off", ng-model="reg.account.email", required='')
          span.fa.fa-envelope.form-control-feedback.text-muted
          span.text-danger(ng-show="reg.registerForm.account_email.$dirty && reg.registerForm.account_email.$error.required") This field is required
          span.text-danger(ng-show="reg.registerForm.account_email.$dirty && reg.registerForm.account_email.$error.email") This field must be a valid email address
        .form-group.has-feedback
          label.text-muted Password
          input#id-password.form-control(type='password', name="account_password", ng-model="reg.register.password", ng-pattern="/^[a-zA-Z0-9]{6,10}$/", required='')
          span.fa.fa-lock.form-control-feedback.text-muted
          span.text-danger(ng-show="reg.registerForm.account_password.$dirty && reg.registerForm.account_password.$error.required") This field is required
          span.text-danger(ng-show="reg.registerForm.account_password.$dirty && reg.registerForm.account_password.$error.pattern") Input should match 'a-zA-Z0-9' and 6-10 length
        .form-group.has-feedback
          label.text-muted Retype Password
          input.form-control(type='password', name="account_password_confirm", ng-model="reg.register.account_password_confirm", ui-validate="'$value==reg.register.password'" ui-validate-watch="'password'")
          span.fa.fa-lock.form-control-feedback.text-muted
          span.text-danger(ng-show="reg.registerForm.account_password_confirm.$dirty && reg.registerForm.account_password_confirm.$error.validator") Password does Not match
        .clearfix
          .checkbox.c-checkbox.pull-left.mt0
            label
              input(type='checkbox', required='', name="account_agreed", ng-model="reg.account.agreed")
              span.fa.fa-check
              |  I agree with the 
              a(href="#") terms
        .text-danger(ng-show="reg.registerForm.account_agreed.$dirty && reg.registerForm.account_agreed.$error.required") You must agree the terms
        
        button.btn.btn-block.btn-primary.mt-lg(type='submit') Create account
      
      .alert.alert-danger.text-center(ng-show='reg.authMsg') {{reg.authMsg}}      
      
      p.pt-lg.text-center Have an account?
      a(ui-sref="page.login").btn.btn-block.btn-default Signup

  // END panel
  .p-lg.text-center
    span &copy; 
    span(ng-bind="app.year") 
    span  - 
    span(ng-bind="app.name")
    br
    span(ng-bind="app.description")
