@{
    ViewBag.Title = "Documentation";
}
<div class="flatdoc-wrapper">
   <div class="flatdoc">
      <div class="flatdoc-menu"></div>
      <div class="flatdoc-content"></div>
   </div>
</div>

@section Styles {

}
@section Scripts {
    @Scripts.Render("~/bundles/flatdoc")
}
