<h3>Nestable
   <small>Drag &amp; drop hierarchical list with mouse and touch compatibility</small>
</h3>
<div class="container-fluid" ng-controller="NestableController as nest">
   <div class="row">
      <div class="col-md-6">
         <div ng-nestable="" ng-model="nest.items">
            <div>
               <!-- this element is the template for each menu item-->
               <!-- the $item is available on scope and is the reference to the menu item object-->{{$item.text}}</div>
         </div>
      </div>
      <div class="col-md-6">
         <div class="show-handlers" ng-nestable="" ng-model="nest.items2">
            <div>
               <!-- this element is the template for each menu item-->
               <!-- the $item is available on scope and is the reference to the menu item object-->{{$item.text}}</div>
         </div>
      </div>
   </div>
</div>