<h2>Native Angular.js solution</h2>
<p>With ngDialog you don't need jQuery or Bootstrap to create dialogs for<code>ng-app:</code>
</p>
<ul>
   <li>Use it in controllers, factories or directives</li>
   <li>Create your own directives</li>
   <li>Style all UI and templates</li>
   <li>Configure themes</li>
   <li>Add animations and effects</li>
</ul>
<p class="mt">Module is shipped with both<code>ngDialog</code>service and default directive.</p>
<div class="text-center">
   <button class="btn btn-info btn-large" type="button" ng-click="closeThisDialog(0)">Ok, Got It!</button>
</div>