<div class="abs-center wd-xl">
   <!-- START panel-->
   <div class="p">
      <img src="<%= image_path('angle/user/02.jpg') %>" alt="Avatar" width="60" height="60" class="img-thumbnail img-circle center-block" />
   </div>
   <div class="panel widget b0">
      <div class="panel-body">
         <p class="text-center">Please login to unlock your screen.</p>
         <form role="form">
            <div class="form-group has-feedback">
               <input id="exampleInputPassword1" type="password" placeholder="Password" class="form-control" />
               <span class="fa fa-lock form-control-feedback text-muted"></span>
            </div>
            <div class="clearfix">
               <div class="pull-left mt-sm">
                  <a href="recover.html" class="text-muted">
                     <small>Forgot your password?</small>
                  </a>
               </div>
               <div class="pull-right"><a href="/dashboard" class="btn btn-sm btn-primary">Unlock</a>
               </div>
            </div>
         </form>
      </div>
   </div>
   <!-- END panel-->
</div>