extends ../_layout_page

block content
    .abs-center
        .text-center.mv-lg
            h1.mb-lg
                sup: em.fa.fa-cog.fa-2x.text-muted.fa-spin.text-info
                em.fa.fa-cog.fa-5x.text-muted.fa-spin.text-purple
                em.fa.fa-cog.fa-lg.text-muted.fa-spin.text-success
            .text-bold.text-lg.mb-lg SITE IS UNDER MAINTENANCE
            p.lead.m0 We'll back online shortly!
