.container-md
  .card
    .card-heading.bg-primary
      .card-title Whiteframe
    .card-body
      .panel.shadow-z1
        .panel-body
          p.mv-lg.text-center .shadow-z1
      .panel.shadow-z2
        .panel-body
          p.mv-lg.text-center .shadow-z2
      .panel.shadow-z3
        .panel-body
          p.mv-lg.text-center .shadow-z3
      .panel.shadow-z4
        .panel-body
          p.mv-lg.text-center .shadow-z4
      .panel.shadow-z5
        .panel-body
          p.mv-lg.text-center .shadow-z5
