h3 Cards
  small A card is a piece of paper with unique related

.container.container-md
  .row.ng-scope
    .col-sm-6
      .card
        .card-item
          img.img-responsive(src='app/img/bg4.jpg', alt='MaterialImg')
          p.p.text-white Paracosm
        .card-offset.pull-right
          button(type="button").btn.btn-primary.btn-circle.btn-lg
            em.icon-heart
        .card-body
          h4.m0 Aenean
          p.m0
            a.mr-sm(href='') malesuada
            span.mr-sm.text-muted by 
            a(href='') Eva Marshall

    .col-sm-6
      .card
        .card-item
          img.img-responsive(src='app/img/bg5.jpg', alt='MaterialImg')
          p.p.text-white Paracosm
        .card-offset.pull-right
          button(type="button").btn.btn-info.btn-circle.btn-lg 15
        .card-body
          h4.m0 Aenean
          p.m0
            a.mr-sm(href='') malesuada
            span.mr-sm.text-muted by 
            a(href='') Alvin Perry

  .row.ng-scope
    .col-sm-4
      .card
        .card-item
          img.img-responsive(src='app/img/bg7.jpg', alt='MaterialImg')
          p.p.text-white Paracosm
        .card-offset.pull-right
          button(type="button").btn.btn-danger.btn-circle.btn-lg
            em.fa.fa-retweet
        .card-body
          h4.m0 Aenean
          p.m0
            a.mr-sm(href='') malesuada
            span.mr-sm.text-muted by 
            a(href='') Janice James

    .col-sm-4
      .card
        .card-item
          img.img-responsive(src='app/img/bg8.jpg', alt='MaterialImg')
          p.p.text-white Paracosm
        .card-offset.pull-right
          button(type="button").btn.btn-success.btn-circle.btn-lg 3
        .card-body
          h4.m0 Aenean
          p.m0
            a.mr-sm(href='') malesuada
            span.mr-sm.text-muted by 
            a(href='') Roberta Wallace

    .col-sm-4
      .card
        .card-item
          img.img-responsive(src='app/img/bg10.jpg', alt='MaterialImg')
          p.p.text-white Paracosm
        .card-offset.pull-right
          button(type="button").btn.btn-primary.btn-circle.btn-lg
            em.icon-star
        .card-body
          h4.m0 Aenean
          p.m0
            a.mr-sm(href='') malesuada
            span.mr-sm.text-muted by 
            a(href='') Hector Stewart

  .row  
    .col-sm-3
      .card
        .card-item
          img.img-responsive(src='app/img/bg4.jpg', alt='MaterialImg')
          p.p.text-white Paracosm
        .card-offset.pull-right
          button(type="button").btn.btn-purple.btn-circle.btn-lg
            em.icon-bubble
        .card-body
          h4.m0 Aenean
          p.m0
            a.mr-sm(href='') malesuada
            span.mr-sm.text-muted by 
            a(href='') Johnny

    .col-sm-3
      .card
        .card-item
          img.img-responsive(src='app/img/bg5.jpg', alt='MaterialImg')
          p.p.text-white Paracosm
        .card-offset.pull-right
          button(type="button").btn.btn-primary.btn-circle.btn-lg 25
        .card-body
          h4.m0 Aenean
          p.m0
            a.mr-sm(href='') malesuada
            span.mr-sm.text-muted by 
            a(href='') Alyssa

    .col-sm-3
      .card
        .card-item
          img.img-responsive(src='app/img/bg7.jpg', alt='MaterialImg')
          p.p.text-white Paracosm
        .card-offset.pull-right
          button(type="button").btn.btn-green.btn-circle.btn-lg 50
        .card-body
          h4.m0 Aenean
          p.m0
            a.mr-sm(href='') malesuada
            span.mr-sm.text-muted by 
            a(href='') Eileen

    .col-sm-3
      .card
        .card-item
          img.img-responsive(src='app/img/bg4.jpg', alt='MaterialImg')
          p.p.text-white Paracosm
        .card-offset.pull-right
          button(type="button").btn.btn-pink.btn-circle.btn-lg
            em.icon-share
        .card-body
          h4.m0 Aenean
          p.m0
            a.mr-sm(href='') malesuada
            span.mr-sm.text-muted by 
            a(href='') Kay

