.container-md
  .card
    .card-heading.bg-primary
      .card-title Checkboxes
    .card-body
      .row
        .col-lg-4
          .mb
            label.mda-checkbox
              input(type='checkbox')
              em.bg-indigo-500
              | This is a Checkbox
          .mb
            label.mda-checkbox
              input(type='checkbox', checked='')
              em.bg-purple-500
              | This is a Checkbox checked
          .mb
            label.mda-checkbox
              input(type='checkbox', disabled='')
              em.bg-indigo-500
              | This is a Checkbox disabled
          .mb
            label.mda-checkbox
              input(type='checkbox', checked='', disabled='')
              em.bg-indigo-500
              | This is a Checkbox checked and disabled
          .mb
            label.mda-checkbox
              input(type='checkbox', checked='')
              em.bg-blue-500.empty
              | This is a Checkbox empty
        .col-lg-4
          .mb
            label.mda-checkbox
              input(type='checkbox', checked='')
              em.bg-red-500
              | This a checkbox red
          .mb
            label.mda-checkbox
              input(type='checkbox', checked='')
              em.bg-pink-500
              | This a checkbox pink
          .mb
            label.mda-checkbox
              input(type='checkbox', checked='')
              em.bg-purple-500
              | This a checkbox purple
          .mb
            label.mda-checkbox
              input(type='checkbox', checked='')
              em.bg-deep-purple-500
              | This a checkbox purple
          .mb
            label.mda-checkbox
              input(type='checkbox', checked='')
              em.bg-indigo-500
              | This a checkbox indigo
          .mb
            label.mda-checkbox
              input(type='checkbox', checked='')
              em.bg-blue-500
              | This a checkbox blue
          .mb
            label.mda-checkbox
              input(type='checkbox', checked='')
              em.bg-cyan-500
              | This a checkbox cyan
        .col-lg-4
          .mb
            label.mda-checkbox
              input(type='checkbox', checked='')
              em.bg-teal-500
              | This a checkbox teal
          .mb
            label.mda-checkbox
              input(type='checkbox', checked='')
              em.bg-green-500
              | This a checkbox green
          .mb
            label.mda-checkbox
              input(type='checkbox', checked='')
              em.bg-lime-500
              | This a checkbox lime
          .mb
            label.mda-checkbox
              input(type='checkbox', checked='')
              em.bg-yellow-500
              | This a checkbox yellow
          .mb
            label.mda-checkbox
              input(type='checkbox', checked='')
              em.bg-amber-500
              | This a checkbox amber
          .mb
            label.mda-checkbox
              input(type='checkbox', checked='')
              em.bg-orange-500
              | This a checkbox orange
          .mb
            label.mda-checkbox
              input(type='checkbox', checked='')
              em.bg-brown-500
              | This a checkbox brown

  // Radios
  .card
    .card-heading.bg-primary
      .card-title Radios
    .card-body
      .row
        .col-lg-4
          .mb
            label.mda-radio
              input(type='radio', name="oneradio") 
              em.bg-indigo-500
              | This is a radio
          .mb
            label.mda-radio
              input(type='radio', name="oneradio", checked='')
              em.bg-purple-500
              | This is a radio checked
          .mb
            label.mda-radio
              input(type='radio', name="otherradio", disabled='')
              em.bg-indigo-500
              | This is a radio disabled
          .mb
            label.mda-radio
              input(type='radio', name="otherradio", checked='', disabled='')
              em.bg-indigo-500
              | This is a radio checked and disabled
          .mb
            label.mda-radio
              input(type='radio', name="emptyradio", checked='')
              em.bg-blue-500.empty
              | This is a radio empty
        .col-lg-4
          .mb
            label.mda-radio
              input(type='radio', name="someradio-red", checked='')
              em.bg-red-500
              | This a radio red
          .mb
            label.mda-radio
              input(type='radio', name="someradio-pink", checked='')
              em.bg-pink-500
              | This a radio pink
          .mb
            label.mda-radio
              input(type='radio', name="someradio-purple", checked='')
              em.bg-purple-500
              | This a radio purple
          .mb
            label.mda-radio
              input(type='radio', name="someradio-deep-purple", checked='')
              em.bg-deep-purple-500
              | This a radio purple
          .mb
            label.mda-radio
              input(type='radio', name="someradio-indigo", checked='')
              em.bg-indigo-500
              | This a radio indigo
          .mb
            label.mda-radio
              input(type='radio', name="someradio-blue", checked='')
              em.bg-blue-500
              | This a radio blue
          .mb
            label.mda-radio
              input(type='radio', name="someradio-cyan", checked='')
              em.bg-cyan-500
              | This a radio cyan
        .col-lg-4
          .mb
            label.mda-radio
              input(type='radio', name="someradio-teal", checked='')
              em.bg-teal-500
              | This a radio teal
          .mb
            label.mda-radio
              input(type='radio', name="someradio-green", checked='')
              em.bg-green-500
              | This a radio green
          .mb
            label.mda-radio
              input(type='radio', name="someradio-lime", checked='')
              em.bg-lime-500
              | This a radio lime
          .mb
            label.mda-radio
              input(type='radio', name="someradio-yellow", checked='')
              em.bg-yellow-500
              | This a radio yellow
          .mb
            label.mda-radio
              input(type='radio', name="someradio-amber", checked='')
              em.bg-amber-500
              | This a radio amber
          .mb
            label.mda-radio
              input(type='radio', name="someradio-orange", checked='')
              em.bg-orange-500
              | This a radio orange
          .mb
            label.mda-radio
              input(type='radio', name="someradio-brown", checked='')
              em.bg-brown-500
              | This a radio brown
