@{
    // This is requried for AngularJS because we have to send only the view markup (not within the layout)
    Layout = null;
    ViewBag.Title = "MenuView";
}
<h3>
    Page title
    <small>Subtitle</small>
</h3>
<div class="row">
    <div class="col-lg-12">
        <p>A blank template</p>
    </div>
</div>