<h3>Dropdown Animations
   <small>Extends the dropdown effects when open just adding an animation class</small>
</h3>
<!-- START row-->
<div class="row">
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div class="btn-group">
            <button data-toggle="dropdown" class="btn btn-default">bounce <b class="caret"></b>
            </button>
            <ul role="menu" class="dropdown-menu animated bounce">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div class="btn-group">
            <button data-toggle="dropdown" class="btn btn-default">flash <b class="caret"></b>
            </button>
            <ul role="menu" class="dropdown-menu animated flash">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div class="btn-group">
            <button data-toggle="dropdown" class="btn btn-default">pulse <b class="caret"></b>
            </button>
            <ul role="menu" class="dropdown-menu animated pulse">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div class="btn-group">
            <button data-toggle="dropdown" class="btn btn-default">rubberBand <b class="caret"></b>
            </button>
            <ul role="menu" class="dropdown-menu animated rubberBand">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div class="btn-group">
            <button data-toggle="dropdown" class="btn btn-default">shake <b class="caret"></b>
            </button>
            <ul role="menu" class="dropdown-menu animated shake">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div class="btn-group">
            <button data-toggle="dropdown" class="btn btn-default">swing <b class="caret"></b>
            </button>
            <ul role="menu" class="dropdown-menu animated swing">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div class="btn-group">
            <button data-toggle="dropdown" class="btn btn-default">tada <b class="caret"></b>
            </button>
            <ul role="menu" class="dropdown-menu animated tada">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div class="btn-group">
            <button data-toggle="dropdown" class="btn btn-default">wobble <b class="caret"></b>
            </button>
            <ul role="menu" class="dropdown-menu animated wobble">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div class="btn-group">
            <button data-toggle="dropdown" class="btn btn-default">bounceIn <b class="caret"></b>
            </button>
            <ul role="menu" class="dropdown-menu animated bounceIn">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div class="btn-group">
            <button data-toggle="dropdown" class="btn btn-default">bounceInDown <b class="caret"></b>
            </button>
            <ul role="menu" class="dropdown-menu animated bounceInDown">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div class="btn-group">
            <button data-toggle="dropdown" class="btn btn-default">bounceInLeft <b class="caret"></b>
            </button>
            <ul role="menu" class="dropdown-menu animated bounceInLeft">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div class="btn-group">
            <button data-toggle="dropdown" class="btn btn-default">bounceInRight <b class="caret"></b>
            </button>
            <ul role="menu" class="dropdown-menu animated bounceInRight">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div class="btn-group">
            <button data-toggle="dropdown" class="btn btn-default">bounceInUp <b class="caret"></b>
            </button>
            <ul role="menu" class="dropdown-menu animated bounceInUp">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div class="btn-group">
            <button data-toggle="dropdown" class="btn btn-default">fadeIn <b class="caret"></b>
            </button>
            <ul role="menu" class="dropdown-menu animated fadeIn">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div class="btn-group">
            <button data-toggle="dropdown" class="btn btn-default">fadeInDown <b class="caret"></b>
            </button>
            <ul role="menu" class="dropdown-menu animated fadeInDown">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div class="btn-group">
            <button data-toggle="dropdown" class="btn btn-default">fadeInDownBig <b class="caret"></b>
            </button>
            <ul role="menu" class="dropdown-menu animated fadeInDownBig">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div class="btn-group">
            <button data-toggle="dropdown" class="btn btn-default">fadeInLeft <b class="caret"></b>
            </button>
            <ul role="menu" class="dropdown-menu animated fadeInLeft">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div class="btn-group">
            <button data-toggle="dropdown" class="btn btn-default">fadeInLeftBig <b class="caret"></b>
            </button>
            <ul role="menu" class="dropdown-menu animated fadeInLeftBig">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div class="btn-group">
            <button data-toggle="dropdown" class="btn btn-default">fadeInRight <b class="caret"></b>
            </button>
            <ul role="menu" class="dropdown-menu animated fadeInRight">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div class="btn-group">
            <button data-toggle="dropdown" class="btn btn-default">fadeInRightBig <b class="caret"></b>
            </button>
            <ul role="menu" class="dropdown-menu animated fadeInRightBig">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div class="btn-group">
            <button data-toggle="dropdown" class="btn btn-default">fadeInUp <b class="caret"></b>
            </button>
            <ul role="menu" class="dropdown-menu animated fadeInUp">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div class="btn-group">
            <button data-toggle="dropdown" class="btn btn-default">fadeInUpBig <b class="caret"></b>
            </button>
            <ul role="menu" class="dropdown-menu animated fadeInUpBig">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div class="btn-group">
            <button data-toggle="dropdown" class="btn btn-default">flip <b class="caret"></b>
            </button>
            <ul role="menu" class="dropdown-menu animated flip">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div class="btn-group">
            <button data-toggle="dropdown" class="btn btn-default">flipInX <b class="caret"></b>
            </button>
            <ul role="menu" class="dropdown-menu animated flipInX">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div class="btn-group">
            <button data-toggle="dropdown" class="btn btn-default">flipInY <b class="caret"></b>
            </button>
            <ul role="menu" class="dropdown-menu animated flipInY">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div class="btn-group">
            <button data-toggle="dropdown" class="btn btn-default">lightSpeedIn <b class="caret"></b>
            </button>
            <ul role="menu" class="dropdown-menu animated lightSpeedIn">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div class="btn-group">
            <button data-toggle="dropdown" class="btn btn-default">rotateIn <b class="caret"></b>
            </button>
            <ul role="menu" class="dropdown-menu animated rotateIn">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div class="btn-group">
            <button data-toggle="dropdown" class="btn btn-default">rotateInDownLeft <b class="caret"></b>
            </button>
            <ul role="menu" class="dropdown-menu animated rotateInDownLeft">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div class="btn-group">
            <button data-toggle="dropdown" class="btn btn-default">rotateInDownRight <b class="caret"></b>
            </button>
            <ul role="menu" class="dropdown-menu animated rotateInDownRight">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div class="btn-group">
            <button data-toggle="dropdown" class="btn btn-default">rotateInUpLeft <b class="caret"></b>
            </button>
            <ul role="menu" class="dropdown-menu animated rotateInUpLeft">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div class="btn-group">
            <button data-toggle="dropdown" class="btn btn-default">rotateInUpRight <b class="caret"></b>
            </button>
            <ul role="menu" class="dropdown-menu animated rotateInUpRight">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div class="btn-group">
            <button data-toggle="dropdown" class="btn btn-default">hinge <b class="caret"></b>
            </button>
            <ul role="menu" class="dropdown-menu animated hinge">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div class="btn-group">
            <button data-toggle="dropdown" class="btn btn-default">rollIn <b class="caret"></b>
            </button>
            <ul role="menu" class="dropdown-menu animated rollIn">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div class="btn-group">
            <button data-toggle="dropdown" class="btn btn-default">zoomIn <b class="caret"></b>
            </button>
            <ul role="menu" class="dropdown-menu animated zoomIn">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div class="btn-group">
            <button data-toggle="dropdown" class="btn btn-default">zoomInDown <b class="caret"></b>
            </button>
            <ul role="menu" class="dropdown-menu animated zoomInDown">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div class="btn-group">
            <button data-toggle="dropdown" class="btn btn-default">zoomInLeft <b class="caret"></b>
            </button>
            <ul role="menu" class="dropdown-menu animated zoomInLeft">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div class="btn-group">
            <button data-toggle="dropdown" class="btn btn-default">zoomInRight <b class="caret"></b>
            </button>
            <ul role="menu" class="dropdown-menu animated zoomInRight">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div class="btn-group">
            <button data-toggle="dropdown" class="btn btn-default">zoomInUp <b class="caret"></b>
            </button>
            <ul role="menu" class="dropdown-menu animated zoomInUp">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
</div>
<!-- END row-->
<br/>
<br/>
<br/>
<br/>
<br/>