<h3>Nestable
   <small>Drag &amp; drop hierarchical list with mouse and touch compatibility</small>
</h3>
<div class="container-fluid">
   <div class="js-nestable-action"><a data-action="expand-all" class="btn btn-default btn-sm mr-sm">Expand All</a><a data-action="collapse-all" class="btn btn-default btn-sm">CollapseAll</a>
   </div>
   <div class="row">
      <div class="col-md-6">
         <div id="nestable" class="dd">
            <ol class="dd-list">
               <li data-id="1" class="dd-item">
                  <div class="dd-handle">Item 1</div>
               </li>
               <li data-id="2" class="dd-item">
                  <div class="dd-handle">Item 2</div>
                  <ol class="dd-list">
                     <li data-id="3" class="dd-item">
                        <div class="dd-handle">Item 3</div>
                     </li>
                     <li data-id="4" class="dd-item">
                        <div class="dd-handle">Item 4</div>
                     </li>
                     <li data-id="5" class="dd-item">
                        <div class="dd-handle">Item 5</div>
                        <ol class="dd-list">
                           <li data-id="6" class="dd-item">
                              <div class="dd-handle">Item 6</div>
                           </li>
                           <li data-id="7" class="dd-item">
                              <div class="dd-handle">Item 7</div>
                           </li>
                           <li data-id="8" class="dd-item">
                              <div class="dd-handle">Item 8</div>
                           </li>
                        </ol>
                     </li>
                     <li data-id="9" class="dd-item">
                        <div class="dd-handle">Item 9</div>
                     </li>
                     <li data-id="10" class="dd-item">
                        <div class="dd-handle">Item 10</div>
                     </li>
                  </ol>
               </li>
               <li data-id="11" class="dd-item">
                  <div class="dd-handle">Item 11</div>
               </li>
               <li data-id="12" class="dd-item">
                  <div class="dd-handle">Item 12</div>
               </li>
            </ol>
         </div>
         <textarea id="nestable-output" class="form-control"></textarea>
      </div>
      <div class="col-md-6">
         <div id="nestable2" class="dd">
            <ol class="dd-list">
               <li data-id="13" class="dd-item dd3-item">
                  <div class="dd-handle dd3-handle">Drag</div>
                  <div class="dd3-content">Item 13</div>
               </li>
               <li data-id="14" class="dd-item dd3-item">
                  <div class="dd-handle dd3-handle">Drag</div>
                  <div class="dd3-content">Item 14</div>
               </li>
               <li data-id="15" class="dd-item dd3-item">
                  <div class="dd-handle dd3-handle">Drag</div>
                  <div class="dd3-content">Item 15</div>
                  <ol class="dd-list">
                     <li data-id="16" class="dd-item dd3-item">
                        <div class="dd-handle dd3-handle">Drag</div>
                        <div class="dd3-content">Item 16</div>
                     </li>
                     <li data-id="17" class="dd-item dd3-item">
                        <div class="dd-handle dd3-handle">Drag</div>
                        <div class="dd3-content">Item 17</div>
                     </li>
                     <li data-id="18" class="dd-item dd3-item">
                        <div class="dd-handle dd3-handle">Drag</div>
                        <div class="dd3-content">Item 18</div>
                     </li>
                  </ol>
               </li>
            </ol>
         </div>
         <textarea id="nestable2-output" class="form-control"></textarea>
      </div>
   </div>
</div>
