<div class="pull-right">
   <div class="btn-group" uib-dropdown="dropdown">
      <button class="btn btn-link" uib-dropdown-toggle="">
         <em class="fa fa-ellipsis-v fa-lg"></em>
      </button>
      <ul class="dropdown-menu dropdown-menu-right animated fadeInLeft" role="menu">
         <li>
            <a href="">
               <em class="fa fa-fw fa-plus mr"></em>
               <span>New contact</span>
            </a>
         </li>
         <li>
            <a href="">
               <em class="fa fa-fw fa-mail-forward mr"></em>
               <span>Import contact</span>
            </a>
         </li>
         <li>
            <a href="">
               <em class="fa fa-fw fa-mail-reply mr"></em>
               <span>Export contacts</span>
            </a>
         </li>
      </ul>
   </div>
</div>
<h3>Contacts</h3>
<div class="row">
   <div class="col-md-4">
      <div class="panel panel-default">
         <div class="panel-heading">
            <a class="pull-right text-muted" href="" ng-click="favContact1=!favContact1">
               <em class="fa" ng-class="favContact1 ? 'fa-star text-warning' : 'fa-star-o'"></em>
            </a>
         </div>
         <div class="panel-body text-center">
            <img class="center-block img-responsive img-circle thumb64" src="app/img/user/02.jpg" alt="Contact" />
            <h4>Audrey Hunt</h4>
            <p>Hello, I'm a just a dummy contact in your contact list and this is my presentation text. Have fun!</p>
         </div>
         <div class="panel-footer clearfix">
            <div class="pull-left"><a class="btn btn-xs btn-primary" href="">Send message</a>
            </div>
            <div class="pull-right"><a class="btn btn-xs btn-default" href="">View</a>
            </div>
         </div>
      </div>
   </div>
   <div class="col-md-4">
      <div class="panel panel-default">
         <div class="panel-heading">
            <a class="pull-right text-muted" href="" ng-click="favContact2=!favContact2" ng-init="favContact2=true">
               <em class="fa" ng-class="favContact2 ? 'fa-star text-warning' : 'fa-star-o'"></em>
            </a>
         </div>
         <div class="panel-body text-center">
            <img class="center-block img-responsive img-circle thumb64" src="app/img/user/03.jpg" alt="Contact" />
            <h4>Leonard Price</h4>
            <p>Hello, I'm a just a dummy contact in your contact list and this is my presentation text. Have fun!</p>
         </div>
         <div class="panel-footer clearfix">
            <div class="pull-left"><a class="btn btn-xs btn-primary" href="">Send message</a>
            </div>
            <div class="pull-right"><a class="btn btn-xs btn-default" href="">View</a>
            </div>
         </div>
      </div>
   </div>
   <div class="col-md-4">
      <div class="panel panel-default">
         <div class="panel-heading">
            <a class="pull-right text-muted" href="" ng-click="favContact3=!favContact3">
               <em class="fa" ng-class="favContact3 ? 'fa-star text-warning' : 'fa-star-o'"></em>
            </a>
         </div>
         <div class="panel-body text-center">
            <img class="center-block img-responsive img-circle thumb64" src="app/img/user/04.jpg" alt="Contact" />
            <h4>Jamie Stephens</h4>
            <p>Hello, I'm a just a dummy contact in your contact list and this is my presentation text. Have fun!</p>
         </div>
         <div class="panel-footer clearfix">
            <div class="pull-left"><a class="btn btn-xs btn-primary" href="">Send message</a>
            </div>
            <div class="pull-right"><a class="btn btn-xs btn-default" href="">View</a>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-md-4">
      <div class="panel panel-default">
         <div class="panel-heading">
            <a class="pull-right text-muted" href="" ng-click="favContact4=!favContact4">
               <em class="fa" ng-class="favContact4 ? 'fa-star text-warning' : 'fa-star-o'"></em>
            </a>
         </div>
         <div class="panel-body text-center">
            <img class="center-block img-responsive img-circle thumb64" src="app/img/user/05.jpg" alt="Contact" />
            <h4>Tara Nelson</h4>
            <p>Hello, I'm a just a dummy contact in your contact list and this is my presentation text. Have fun!</p>
         </div>
         <div class="panel-footer clearfix">
            <div class="pull-left"><a class="btn btn-xs btn-primary" href="">Send message</a>
            </div>
            <div class="pull-right"><a class="btn btn-xs btn-default" href="">View</a>
            </div>
         </div>
      </div>
   </div>
   <div class="col-md-4">
      <div class="panel panel-default">
         <div class="panel-heading">
            <a class="pull-right text-muted" href="" ng-click="favContact5=!favContact5" ng-init="favContact5=true">
               <em class="fa" ng-class="favContact5 ? 'fa-star text-warning' : 'fa-star-o'"></em>
            </a>
         </div>
         <div class="panel-body text-center">
            <img class="center-block img-responsive img-circle thumb64" src="app/img/user/06.jpg" alt="Contact" />
            <h4>Constance Cook</h4>
            <p>Hello, I'm a just a dummy contact in your contact list and this is my presentation text. Have fun!</p>
         </div>
         <div class="panel-footer clearfix">
            <div class="pull-left"><a class="btn btn-xs btn-primary mr-sm" href="">Send message</a><a class="btn btn-xs btn-primary" href="">Call</a>
            </div>
            <div class="pull-right"><a class="btn btn-xs btn-default" href="">View</a>
            </div>
         </div>
      </div>
   </div>
   <div class="col-md-4">
      <div class="panel panel-default">
         <div class="panel-heading">
            <a class="pull-right text-muted" href="" ng-click="favContact6=!favContact6" ng-init="favContact6=true">
               <em class="fa" ng-class="favContact6 ? 'fa-star text-warning' : 'fa-star-o'"></em>
            </a>
         </div>
         <div class="panel-body text-center">
            <img class="center-block img-responsive img-circle thumb64" src="app/img/user/07.jpg" alt="Contact" />
            <h4>Laura Palmr</h4>
            <p>Hello, I'm a just a dummy contact in your contact list and this is my presentation text. Have fun!</p>
         </div>
         <div class="panel-footer clearfix">
            <div class="pull-left"><a class="btn btn-xs btn-primary" href="">Send message</a>
            </div>
            <div class="pull-right"><a class="btn btn-xs btn-default" href="">View</a>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-md-4">
      <div class="panel panel-default">
         <div class="panel-heading">
            <a class="pull-right text-muted" href="" ng-click="favContact7=!favContact7">
               <em class="fa" ng-class="favContact7 ? 'fa-star text-warning' : 'fa-star-o'"></em>
            </a>
         </div>
         <div class="panel-body text-center">
            <img class="center-block img-responsive img-circle thumb64" src="app/img/user/08.jpg" alt="Contact" />
            <h4>Audrey Hunt</h4>
            <p>Hello, I'm a just a dummy contact in your contact list and this is my presentation text. Have fun!</p>
         </div>
         <div class="panel-footer clearfix">
            <div class="pull-left"><a class="btn btn-xs btn-primary" href="">Call</a>
            </div>
            <div class="pull-right"><a class="btn btn-xs btn-default" href="">View</a>
            </div>
         </div>
      </div>
   </div>
   <div class="col-md-4">
      <div class="panel panel-default">
         <div class="panel-heading">
            <a class="pull-right text-muted" href="" ng-click="favContact8=!favContact8">
               <em class="fa" ng-class="favContact8 ? 'fa-star text-warning' : 'fa-star-o'"></em>
            </a>
         </div>
         <div class="panel-body text-center">
            <img class="center-block img-responsive img-circle thumb64" src="app/img/user/09.jpg" alt="Contact" />
            <h4>Leslie Mckinney</h4>
            <p>Hello, I'm a just a dummy contact in your contact list and this is my presentation text. Have fun!</p>
         </div>
         <div class="panel-footer clearfix">
            <div class="pull-left"><a class="btn btn-xs btn-primary" href="">Send message</a>
            </div>
            <div class="pull-right"><a class="btn btn-xs btn-default" href="">View</a>
            </div>
         </div>
      </div>
   </div>
   <div class="col-md-4">
      <div class="panel panel-default">
         <div class="panel-heading">
            <a class="pull-right text-muted" href="" ng-click="favContact9=!favContact9">
               <em class="fa" ng-class="favContact9 ? 'fa-star text-warning' : 'fa-star-o'"></em>
            </a>
         </div>
         <div class="panel-body text-center">
            <img class="center-block img-responsive img-circle thumb64" src="app/img/user/04.jpg" alt="Contact" />
            <h4>Brian Mills</h4>
            <p>Hello, I'm a just a dummy contact in your contact list and this is my presentation text. Have fun!</p>
         </div>
         <div class="panel-footer clearfix">
            <div class="pull-left"><a class="btn btn-xs btn-primary" href="">Send message</a>
            </div>
            <div class="pull-right"><a class="btn btn-xs btn-default" href="">View</a>
            </div>
         </div>
      </div>
   </div>
</div>