<h3>Dropdown Animations
   <small>Extends the dropdown effects when open just adding an animation class</small>
</h3>
<!-- START row-->
<div class="row">
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div class="btn-group" uib-dropdown="dropdown">
            <button class="btn btn-default" uib-dropdown-toggle="">bounce <b class="caret"></b>
            </button>
            <ul class="dropdown-menu animated bounce" role="menu">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div class="btn-group" uib-dropdown="dropdown">
            <button class="btn btn-default" uib-dropdown-toggle="">flash <b class="caret"></b>
            </button>
            <ul class="dropdown-menu animated flash" role="menu">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div class="btn-group" uib-dropdown="dropdown">
            <button class="btn btn-default" uib-dropdown-toggle="">pulse <b class="caret"></b>
            </button>
            <ul class="dropdown-menu animated pulse" role="menu">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div class="btn-group" uib-dropdown="dropdown">
            <button class="btn btn-default" uib-dropdown-toggle="">rubberBand <b class="caret"></b>
            </button>
            <ul class="dropdown-menu animated rubberBand" role="menu">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div class="btn-group" uib-dropdown="dropdown">
            <button class="btn btn-default" uib-dropdown-toggle="">shake <b class="caret"></b>
            </button>
            <ul class="dropdown-menu animated shake" role="menu">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div class="btn-group" uib-dropdown="dropdown">
            <button class="btn btn-default" uib-dropdown-toggle="">swing <b class="caret"></b>
            </button>
            <ul class="dropdown-menu animated swing" role="menu">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div class="btn-group" uib-dropdown="dropdown">
            <button class="btn btn-default" uib-dropdown-toggle="">tada <b class="caret"></b>
            </button>
            <ul class="dropdown-menu animated tada" role="menu">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div class="btn-group" uib-dropdown="dropdown">
            <button class="btn btn-default" uib-dropdown-toggle="">wobble <b class="caret"></b>
            </button>
            <ul class="dropdown-menu animated wobble" role="menu">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div class="btn-group" uib-dropdown="dropdown">
            <button class="btn btn-default" uib-dropdown-toggle="">bounceIn <b class="caret"></b>
            </button>
            <ul class="dropdown-menu animated bounceIn" role="menu">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div class="btn-group" uib-dropdown="dropdown">
            <button class="btn btn-default" uib-dropdown-toggle="">bounceInDown <b class="caret"></b>
            </button>
            <ul class="dropdown-menu animated bounceInDown" role="menu">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div class="btn-group" uib-dropdown="dropdown">
            <button class="btn btn-default" uib-dropdown-toggle="">bounceInLeft <b class="caret"></b>
            </button>
            <ul class="dropdown-menu animated bounceInLeft" role="menu">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div class="btn-group" uib-dropdown="dropdown">
            <button class="btn btn-default" uib-dropdown-toggle="">bounceInRight <b class="caret"></b>
            </button>
            <ul class="dropdown-menu animated bounceInRight" role="menu">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div class="btn-group" uib-dropdown="dropdown">
            <button class="btn btn-default" uib-dropdown-toggle="">bounceInUp <b class="caret"></b>
            </button>
            <ul class="dropdown-menu animated bounceInUp" role="menu">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div class="btn-group" uib-dropdown="dropdown">
            <button class="btn btn-default" uib-dropdown-toggle="">fadeIn <b class="caret"></b>
            </button>
            <ul class="dropdown-menu animated fadeIn" role="menu">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div class="btn-group" uib-dropdown="dropdown">
            <button class="btn btn-default" uib-dropdown-toggle="">fadeInDown <b class="caret"></b>
            </button>
            <ul class="dropdown-menu animated fadeInDown" role="menu">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div class="btn-group" uib-dropdown="dropdown">
            <button class="btn btn-default" uib-dropdown-toggle="">fadeInDownBig <b class="caret"></b>
            </button>
            <ul class="dropdown-menu animated fadeInDownBig" role="menu">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div class="btn-group" uib-dropdown="dropdown">
            <button class="btn btn-default" uib-dropdown-toggle="">fadeInLeft <b class="caret"></b>
            </button>
            <ul class="dropdown-menu animated fadeInLeft" role="menu">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div class="btn-group" uib-dropdown="dropdown">
            <button class="btn btn-default" uib-dropdown-toggle="">fadeInLeftBig <b class="caret"></b>
            </button>
            <ul class="dropdown-menu animated fadeInLeftBig" role="menu">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div class="btn-group" uib-dropdown="dropdown">
            <button class="btn btn-default" uib-dropdown-toggle="">fadeInRight <b class="caret"></b>
            </button>
            <ul class="dropdown-menu animated fadeInRight" role="menu">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div class="btn-group" uib-dropdown="dropdown">
            <button class="btn btn-default" uib-dropdown-toggle="">fadeInRightBig <b class="caret"></b>
            </button>
            <ul class="dropdown-menu animated fadeInRightBig" role="menu">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div class="btn-group" uib-dropdown="dropdown">
            <button class="btn btn-default" uib-dropdown-toggle="">fadeInUp <b class="caret"></b>
            </button>
            <ul class="dropdown-menu animated fadeInUp" role="menu">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div class="btn-group" uib-dropdown="dropdown">
            <button class="btn btn-default" uib-dropdown-toggle="">fadeInUpBig <b class="caret"></b>
            </button>
            <ul class="dropdown-menu animated fadeInUpBig" role="menu">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div class="btn-group" uib-dropdown="dropdown">
            <button class="btn btn-default" uib-dropdown-toggle="">flip <b class="caret"></b>
            </button>
            <ul class="dropdown-menu animated flip" role="menu">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div class="btn-group" uib-dropdown="dropdown">
            <button class="btn btn-default" uib-dropdown-toggle="">flipInX <b class="caret"></b>
            </button>
            <ul class="dropdown-menu animated flipInX" role="menu">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div class="btn-group" uib-dropdown="dropdown">
            <button class="btn btn-default" uib-dropdown-toggle="">flipInY <b class="caret"></b>
            </button>
            <ul class="dropdown-menu animated flipInY" role="menu">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div class="btn-group" uib-dropdown="dropdown">
            <button class="btn btn-default" uib-dropdown-toggle="">lightSpeedIn <b class="caret"></b>
            </button>
            <ul class="dropdown-menu animated lightSpeedIn" role="menu">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div class="btn-group" uib-dropdown="dropdown">
            <button class="btn btn-default" uib-dropdown-toggle="">rotateIn <b class="caret"></b>
            </button>
            <ul class="dropdown-menu animated rotateIn" role="menu">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div class="btn-group" uib-dropdown="dropdown">
            <button class="btn btn-default" uib-dropdown-toggle="">rotateInDownLeft <b class="caret"></b>
            </button>
            <ul class="dropdown-menu animated rotateInDownLeft" role="menu">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div class="btn-group" uib-dropdown="dropdown">
            <button class="btn btn-default" uib-dropdown-toggle="">rotateInDownRight <b class="caret"></b>
            </button>
            <ul class="dropdown-menu animated rotateInDownRight" role="menu">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div class="btn-group" uib-dropdown="dropdown">
            <button class="btn btn-default" uib-dropdown-toggle="">rotateInUpLeft <b class="caret"></b>
            </button>
            <ul class="dropdown-menu animated rotateInUpLeft" role="menu">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div class="btn-group" uib-dropdown="dropdown">
            <button class="btn btn-default" uib-dropdown-toggle="">rotateInUpRight <b class="caret"></b>
            </button>
            <ul class="dropdown-menu animated rotateInUpRight" role="menu">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div class="btn-group" uib-dropdown="dropdown">
            <button class="btn btn-default" uib-dropdown-toggle="">hinge <b class="caret"></b>
            </button>
            <ul class="dropdown-menu animated hinge" role="menu">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div class="btn-group" uib-dropdown="dropdown">
            <button class="btn btn-default" uib-dropdown-toggle="">rollIn <b class="caret"></b>
            </button>
            <ul class="dropdown-menu animated rollIn" role="menu">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div class="btn-group" uib-dropdown="dropdown">
            <button class="btn btn-default" uib-dropdown-toggle="">zoomIn <b class="caret"></b>
            </button>
            <ul class="dropdown-menu animated zoomIn" role="menu">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div class="btn-group" uib-dropdown="dropdown">
            <button class="btn btn-default" uib-dropdown-toggle="">zoomInDown <b class="caret"></b>
            </button>
            <ul class="dropdown-menu animated zoomInDown" role="menu">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div class="btn-group" uib-dropdown="dropdown">
            <button class="btn btn-default" uib-dropdown-toggle="">zoomInLeft <b class="caret"></b>
            </button>
            <ul class="dropdown-menu animated zoomInLeft" role="menu">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div class="btn-group" uib-dropdown="dropdown">
            <button class="btn btn-default" uib-dropdown-toggle="">zoomInRight <b class="caret"></b>
            </button>
            <ul class="dropdown-menu animated zoomInRight" role="menu">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div class="btn-group" uib-dropdown="dropdown">
            <button class="btn btn-default" uib-dropdown-toggle="">zoomInUp <b class="caret"></b>
            </button>
            <ul class="dropdown-menu animated zoomInUp" role="menu">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
</div>
<!-- END row-->
<br/>
<br/>
<br/>
<br/>
<br/>