<div class="md-welcome">
   <div class="md-welcome-msg">
      <div class="container container-md">
         <h1 class="animated fadeInDown anim-delay-10">Angle</h1>
         <h2 class="animated fadeInLeft anim-delay-15">AngularJS Material admin template</h2>
      </div>
   </div>
</div>
<div class="container container-md">
   <p class="lead m0">Material design admin template built with the heroic AngularJS and lots of top notch features!</p>
   <div class="row md-welcome-row">
      <div class="col-md-4">
         <div class="card animated fadeInDown anim-delay-20" md-ink-ripple="md-ink-ripple">
            <div class="card-body">
               <p class="lead text-bold">Material Design</p>Design philosophy and aesthetics inspired by Google's Material Design.</div>
         </div>
      </div>
      <div class="col-md-4">
         <div class="card animated fadeInDown anim-delay-25" md-ink-ripple="md-ink-ripple">
            <div class="card-body">
               <p class="lead text-bold">Angular Material</p>Reusable, well-tested, and accessible Material Design UI components.</div>
         </div>
      </div>
      <div class="col-md-4">
         <div class="card animated fadeInDown anim-delay-30" md-ink-ripple="md-ink-ripple">
            <div class="card-body">
               <p class="lead text-bold">Material Skin</p>Apply Material styles to any other project in the Angle package.</div>
         </div>
      </div>
   </div>
   <h4>Start browsing the new Material additions</h4>
   <p class="pv-lg animated fadeInUp anim-delay-35">
      <button class="btn btn-primary btn-lg" md-ink-ripple="md-ink-ripple" type="button" ui-sref="app.matwidgets">START BROWSING</button>
   </p>
</div>