extends ../_layout

block active
  - sidebar_active = 'contacts.html'

block content
    .pull-right
        .btn-group
            button.btn.btn-link(data-toggle="dropdown"): em.fa.fa-ellipsis-v.fa-lg
            ul.dropdown-menu.dropdown-menu-right.animated.fadeInLeft(role='menu')
                li: a(href='')
                    em.fa.fa-fw.fa-plus.mr
                    span New contact
                li: a(href='')
                    em.fa.fa-fw.fa-mail-forward.mr
                    span Import contact
                li: a(href='')
                    em.fa.fa-fw.fa-mail-reply.mr
                    span Export contacts

    h3 Contacts

    .row
        .col-md-4
            .panel.panel-default
                .panel-heading
                    a(href="#").pull-right.text-muted: em.fa
                .panel-body.text-center
                    img.center-block.img-responsive.img-circle.thumb64(src="img/user/02.jpg", alt="Contact")
                    h4 Audrey Hunt
                    p Hello, I'm a just a dummy contact in your contact list and this is my presentation text. Have fun!
                .panel-footer.clearfix
                    .pull-left
                        a(href="#").btn.btn-xs.btn-primary Send message
                    .pull-right
                        a(href="#").btn.btn-xs.btn-default View
        .col-md-4
            .panel.panel-default
                .panel-heading
                    a(href="#").pull-right.text-muted: em.fa
                .panel-body.text-center
                    img.center-block.img-responsive.img-circle.thumb64(src="img/user/03.jpg", alt="Contact")
                    h4 Leonard Price
                    p Hello, I'm a just a dummy contact in your contact list and this is my presentation text. Have fun!
                .panel-footer.clearfix
                    .pull-left
                        a(href="#").btn.btn-xs.btn-primary Send message
                    .pull-right
                        a(href="#").btn.btn-xs.btn-default View
        .col-md-4
            .panel.panel-default
                .panel-heading
                    a(href="#").pull-right.text-muted: em.fa
                .panel-body.text-center
                    img.center-block.img-responsive.img-circle.thumb64(src="img/user/04.jpg", alt="Contact")
                    h4 Jamie Stephens
                    p Hello, I'm a just a dummy contact in your contact list and this is my presentation text. Have fun!
                .panel-footer.clearfix
                    .pull-left
                        a(href="#").btn.btn-xs.btn-primary Send message
                    .pull-right
                        a(href="#").btn.btn-xs.btn-default View

    .row
        .col-md-4
            .panel.panel-default
                .panel-heading
                    a(href="#").pull-right.text-muted: em.fa
                .panel-body.text-center
                    img.center-block.img-responsive.img-circle.thumb64(src="img/user/05.jpg", alt="Contact")
                    h4 Tara Nelson
                    p Hello, I'm a just a dummy contact in your contact list and this is my presentation text. Have fun!
                .panel-footer.clearfix
                    .pull-left
                        a(href="#").btn.btn-xs.btn-primary Send message
                    .pull-right
                        a(href="#").btn.btn-xs.btn-default View
        .col-md-4
            .panel.panel-default
                .panel-heading
                    a(href="#").pull-right.text-muted: em.fa
                .panel-body.text-center
                    img.center-block.img-responsive.img-circle.thumb64(src="img/user/06.jpg", alt="Contact")
                    h4 Constance Cook
                    p Hello, I'm a just a dummy contact in your contact list and this is my presentation text. Have fun!
                .panel-footer.clearfix
                    .pull-left
                        a(href="#").btn.btn-xs.btn-primary.mr-sm Send message
                        a(href="#").btn.btn-xs.btn-primary Call
                    .pull-right
                        a(href="#").btn.btn-xs.btn-default View
        .col-md-4
            .panel.panel-default
                .panel-heading
                    a(href="#").pull-right.text-muted: em.fa
                .panel-body.text-center
                    img.center-block.img-responsive.img-circle.thumb64(src="img/user/07.jpg", alt="Contact")
                    h4 Laura Palmr
                    p Hello, I'm a just a dummy contact in your contact list and this is my presentation text. Have fun!
                .panel-footer.clearfix
                    .pull-left
                        a(href="#").btn.btn-xs.btn-primary Send message
                    .pull-right
                        a(href="#").btn.btn-xs.btn-default View

    .row
        .col-md-4
            .panel.panel-default
                .panel-heading
                    a(href="#").pull-right.text-muted: em.fa
                .panel-body.text-center
                    img.center-block.img-responsive.img-circle.thumb64(src="img/user/08.jpg", alt="Contact")
                    h4 Audrey Hunt
                    p Hello, I'm a just a dummy contact in your contact list and this is my presentation text. Have fun!
                .panel-footer.clearfix
                    .pull-left
                        a(href="#").btn.btn-xs.btn-primary Call
                    .pull-right
                        a(href="#").btn.btn-xs.btn-default View
        .col-md-4
            .panel.panel-default
                .panel-heading
                    a(href="#").pull-right.text-muted: em.fa
                .panel-body.text-center
                    img.center-block.img-responsive.img-circle.thumb64(src="img/user/09.jpg", alt="Contact")
                    h4 Leslie Mckinney
                    p Hello, I'm a just a dummy contact in your contact list and this is my presentation text. Have fun!
                .panel-footer.clearfix
                    .pull-left
                        a(href="#").btn.btn-xs.btn-primary Send message
                    .pull-right
                        a(href="#").btn.btn-xs.btn-default View
        .col-md-4
            .panel.panel-default
                .panel-heading
                    a(href="#").pull-right.text-muted: em.fa
                .panel-body.text-center
                    img.center-block.img-responsive.img-circle.thumb64(src="img/user/04.jpg", alt="Contact")
                    h4 Brian Mills
                    p Hello, I'm a just a dummy contact in your contact list and this is my presentation text. Have fun!
                .panel-footer.clearfix
                    .pull-left
                        a(href="#").btn.btn-xs.btn-primary Send message
                    .pull-right
                        a(href="#").btn.btn-xs.btn-default View
