<div class="photo">
   <div data-ng-click="card.showIndex = !card.showIndex">
      <div data-ng-if="card.showIndex" class="photo-index">
         <p>The $index of the card is</p>
         <p class="balloon-wrapper">
            <span class="balloon">{{card.$index}}</span>
         </p>
      </div>
      <div class="photo-wrapper">
         <img src="" data-ng-src="{{card.src}}" data-imageloaded="" data-loadedclass="photoloaded" class="img-responsive" />
         <div class="photo-loader">
            <div class="sk-spinner sk-spinner-rotating-plane"></div>
         </div>
      </div>
      <div class="photo-description">
         <h3>{{card.name}}</h3>
         <p>Nice photo, eh.</p>
      </div>
   </div>
</div>