/*
  Google material colors
 */
.bg-red-50 {
  background-color: #FFEBEE;
}
.bg-red-100 {
  background-color: #FFCDD2;
}
.bg-red-200 {
  background-color: #EF9A9A;
}
.bg-red-300 {
  background-color: #E57373;
}
.bg-red-400 {
  background-color: #EF5350;
}
.bg-red-500 {
  background-color: #F44336;
}
.bg-red-600 {
  background-color: #E53935;
}
.bg-red-700 {
  background-color: #D32F2F;
}
.bg-red-800 {
  background-color: #C62828;
}
.bg-red-900 {
  background-color: #B71C1C;
}
.bg-red-A100 {
  background-color: #FF8A80;
}
.bg-red-A200 {
  background-color: #FF5252;
}
.bg-red-A400 {
  background-color: #FF1744;
}
.bg-red-A700 {
  background-color: #D50000;
}
.bg-pink-50 {
  background-color: #FCE4EC;
}
.bg-pink-100 {
  background-color: #F8BBD0;
}
.bg-pink-200 {
  background-color: #F48FB1;
}
.bg-pink-300 {
  background-color: #F06292;
}
.bg-pink-400 {
  background-color: #EC407A;
}
.bg-pink-500 {
  background-color: #E91E63;
}
.bg-pink-600 {
  background-color: #D81B60;
}
.bg-pink-700 {
  background-color: #C2185B;
}
.bg-pink-800 {
  background-color: #AD1457;
}
.bg-pink-900 {
  background-color: #880E4F;
}
.bg-pink-A100 {
  background-color: #FF80AB;
}
.bg-pink-A200 {
  background-color: #FF4081;
}
.bg-pink-A400 {
  background-color: #F50057;
}
.bg-pink-A700 {
  background-color: #C51162;
}
.bg-purple-50 {
  background-color: #F3E5F5;
}
.bg-purple-100 {
  background-color: #E1BEE7;
}
.bg-purple-200 {
  background-color: #CE93D8;
}
.bg-purple-300 {
  background-color: #BA68C8;
}
.bg-purple-400 {
  background-color: #AB47BC;
}
.bg-purple-500 {
  background-color: #9C27B0;
}
.bg-purple-600 {
  background-color: #8E24AA;
}
.bg-purple-700 {
  background-color: #7B1FA2;
}
.bg-purple-800 {
  background-color: #6A1B9A;
}
.bg-purple-900 {
  background-color: #4A148C;
}
.bg-purple-A100 {
  background-color: #EA80FC;
}
.bg-purple-A200 {
  background-color: #E040FB;
}
.bg-purple-A400 {
  background-color: #D500F9;
}
.bg-purple-A700 {
  background-color: #AA00FF;
}
.bg-deep-purple-50 {
  background-color: #EDE7F6;
}
.bg-deep-purple-100 {
  background-color: #D1C4E9;
}
.bg-deep-purple-200 {
  background-color: #B39DDB;
}
.bg-deep-purple-300 {
  background-color: #9575CD;
}
.bg-deep-purple-400 {
  background-color: #7E57C2;
}
.bg-deep-purple-500 {
  background-color: #673AB7;
}
.bg-deep-purple-600 {
  background-color: #5E35B1;
}
.bg-deep-purple-700 {
  background-color: #512DA8;
}
.bg-deep-purple-800 {
  background-color: #4527A0;
}
.bg-deep-purple-900 {
  background-color: #311B92;
}
.bg-deep-purple-A100 {
  background-color: #B388FF;
}
.bg-deep-purple-A200 {
  background-color: #7C4DFF;
}
.bg-deep-purple-A400 {
  background-color: #651FFF;
}
.bg-deep-purple-A700 {
  background-color: #6200EA;
}
.bg-indigo-50 {
  background-color: #E8EAF6;
}
.bg-indigo-100 {
  background-color: #C5CAE9;
}
.bg-indigo-200 {
  background-color: #9FA8DA;
}
.bg-indigo-300 {
  background-color: #7986CB;
}
.bg-indigo-400 {
  background-color: #5C6BC0;
}
.bg-indigo-500 {
  background-color: #3F51B5;
}
.bg-indigo-600 {
  background-color: #3949AB;
}
.bg-indigo-700 {
  background-color: #303F9F;
}
.bg-indigo-800 {
  background-color: #283593;
}
.bg-indigo-900 {
  background-color: #1A237E;
}
.bg-indigo-A100 {
  background-color: #8C9EFF;
}
.bg-indigo-A200 {
  background-color: #536DFE;
}
.bg-indigo-A400 {
  background-color: #3D5AFE;
}
.bg-indigo-A700 {
  background-color: #304FFE;
}
.bg-blue-50 {
  background-color: #E3F2FD;
}
.bg-blue-100 {
  background-color: #BBDEFB;
}
.bg-blue-200 {
  background-color: #90CAF9;
}
.bg-blue-300 {
  background-color: #64B5F6;
}
.bg-blue-400 {
  background-color: #42A5F5;
}
.bg-blue-500 {
  background-color: #2196F3;
}
.bg-blue-600 {
  background-color: #1E88E5;
}
.bg-blue-700 {
  background-color: #1976D2;
}
.bg-blue-800 {
  background-color: #1565C0;
}
.bg-blue-900 {
  background-color: #0D47A1;
}
.bg-blue-A100 {
  background-color: #82B1FF;
}
.bg-blue-A200 {
  background-color: #448AFF;
}
.bg-blue-A400 {
  background-color: #2979FF;
}
.bg-blue-A700 {
  background-color: #2962FF;
}
.bg-light-blue-50 {
  background-color: #E1F5FE;
}
.bg-light-blue-100 {
  background-color: #B3E5FC;
}
.bg-light-blue-200 {
  background-color: #81D4FA;
}
.bg-light-blue-300 {
  background-color: #4FC3F7;
}
.bg-light-blue-400 {
  background-color: #29B6F6;
}
.bg-light-blue-500 {
  background-color: #03A9F4;
}
.bg-light-blue-600 {
  background-color: #039BE5;
}
.bg-light-blue-700 {
  background-color: #0288D1;
}
.bg-light-blue-800 {
  background-color: #0277BD;
}
.bg-light-blue-900 {
  background-color: #01579B;
}
.bg-light-blue-A100 {
  background-color: #80D8FF;
}
.bg-light-blue-A200 {
  background-color: #40C4FF;
}
.bg-light-blue-A400 {
  background-color: #00B0FF;
}
.bg-light-blue-A700 {
  background-color: #0091EA;
}
.bg-cyan-50 {
  background-color: #E0F7FA;
}
.bg-cyan-100 {
  background-color: #B2EBF2;
}
.bg-cyan-200 {
  background-color: #80DEEA;
}
.bg-cyan-300 {
  background-color: #4DD0E1;
}
.bg-cyan-400 {
  background-color: #26C6DA;
}
.bg-cyan-500 {
  background-color: #00BCD4;
}
.bg-cyan-600 {
  background-color: #00ACC1;
}
.bg-cyan-700 {
  background-color: #0097A7;
}
.bg-cyan-800 {
  background-color: #00838F;
}
.bg-cyan-900 {
  background-color: #006064;
}
.bg-cyan-A100 {
  background-color: #84FFFF;
}
.bg-cyan-A200 {
  background-color: #18FFFF;
}
.bg-cyan-A400 {
  background-color: #00E5FF;
}
.bg-cyan-A700 {
  background-color: #00B8D4;
}
.bg-teal-50 {
  background-color: #E0F2F1;
}
.bg-teal-100 {
  background-color: #B2DFDB;
}
.bg-teal-200 {
  background-color: #80CBC4;
}
.bg-teal-300 {
  background-color: #4DB6AC;
}
.bg-teal-400 {
  background-color: #26A69A;
}
.bg-teal-500 {
  background-color: #009688;
}
.bg-teal-600 {
  background-color: #00897B;
}
.bg-teal-700 {
  background-color: #00796B;
}
.bg-teal-800 {
  background-color: #00695C;
}
.bg-teal-900 {
  background-color: #004D40;
}
.bg-teal-A100 {
  background-color: #A7FFEB;
}
.bg-teal-A200 {
  background-color: #64FFDA;
}
.bg-teal-A400 {
  background-color: #1DE9B6;
}
.bg-teal-A700 {
  background-color: #00BFA5;
}
.bg-green-50 {
  background-color: #E8F5E9;
}
.bg-green-100 {
  background-color: #C8E6C9;
}
.bg-green-200 {
  background-color: #A5D6A7;
}
.bg-green-300 {
  background-color: #81C784;
}
.bg-green-400 {
  background-color: #66BB6A;
}
.bg-green-500 {
  background-color: #4CAF50;
}
.bg-green-600 {
  background-color: #43A047;
}
.bg-green-700 {
  background-color: #388E3C;
}
.bg-green-800 {
  background-color: #2E7D32;
}
.bg-green-900 {
  background-color: #1B5E20;
}
.bg-green-A100 {
  background-color: #B9F6CA;
}
.bg-green-A200 {
  background-color: #69F0AE;
}
.bg-green-A400 {
  background-color: #00E676;
}
.bg-green-A700 {
  background-color: #00C853;
}
.bg-light-green-50 {
  background-color: #F1F8E9;
}
.bg-light-green-100 {
  background-color: #DCEDC8;
}
.bg-light-green-200 {
  background-color: #C5E1A5;
}
.bg-light-green-300 {
  background-color: #AED581;
}
.bg-light-green-400 {
  background-color: #9CCC65;
}
.bg-light-green-500 {
  background-color: #8BC34A;
}
.bg-light-green-600 {
  background-color: #7CB342;
}
.bg-light-green-700 {
  background-color: #689F38;
}
.bg-light-green-800 {
  background-color: #558B2F;
}
.bg-light-green-900 {
  background-color: #33691E;
}
.bg-light-green-A100 {
  background-color: #CCFF90;
}
.bg-light-green-A200 {
  background-color: #B2FF59;
}
.bg-light-green-A400 {
  background-color: #76FF03;
}
.bg-light-green-A700 {
  background-color: #64DD17;
}
.bg-lime-50 {
  background-color: #F9FBE7;
}
.bg-lime-100 {
  background-color: #F0F4C3;
}
.bg-lime-200 {
  background-color: #E6EE9C;
}
.bg-lime-300 {
  background-color: #DCE775;
}
.bg-lime-400 {
  background-color: #D4E157;
}
.bg-lime-500 {
  background-color: #CDDC39;
}
.bg-lime-600 {
  background-color: #C0CA33;
}
.bg-lime-700 {
  background-color: #AFB42B;
}
.bg-lime-800 {
  background-color: #9E9D24;
}
.bg-lime-900 {
  background-color: #827717;
}
.bg-lime-A100 {
  background-color: #F4FF81;
}
.bg-lime-A200 {
  background-color: #EEFF41;
}
.bg-lime-A400 {
  background-color: #C6FF00;
}
.bg-lime-A700 {
  background-color: #AEEA00;
}
.bg-yellow-50 {
  background-color: #FFFDE7;
}
.bg-yellow-100 {
  background-color: #FFF9C4;
}
.bg-yellow-200 {
  background-color: #FFF59D;
}
.bg-yellow-300 {
  background-color: #FFF176;
}
.bg-yellow-400 {
  background-color: #FFEE58;
}
.bg-yellow-500 {
  background-color: #FFEB3B;
}
.bg-yellow-600 {
  background-color: #FDD835;
}
.bg-yellow-700 {
  background-color: #FBC02D;
}
.bg-yellow-800 {
  background-color: #F9A825;
}
.bg-yellow-900 {
  background-color: #F57F17;
}
.bg-yellow-A100 {
  background-color: #FFFF8D;
}
.bg-yellow-A200 {
  background-color: #FFFF00;
}
.bg-yellow-A400 {
  background-color: #FFEA00;
}
.bg-yellow-A700 {
  background-color: #FFD600;
}
.bg-amber-50 {
  background-color: #FFF8E1;
}
.bg-amber-100 {
  background-color: #FFECB3;
}
.bg-amber-200 {
  background-color: #FFE082;
}
.bg-amber-300 {
  background-color: #FFD54F;
}
.bg-amber-400 {
  background-color: #FFCA28;
}
.bg-amber-500 {
  background-color: #FFC107;
}
.bg-amber-600 {
  background-color: #FFB300;
}
.bg-amber-700 {
  background-color: #FFA000;
}
.bg-amber-800 {
  background-color: #FF8F00;
}
.bg-amber-900 {
  background-color: #FF6F00;
}
.bg-amber-A100 {
  background-color: #FFE57F;
}
.bg-amber-A200 {
  background-color: #FFD740;
}
.bg-amber-A400 {
  background-color: #FFC400;
}
.bg-amber-A700 {
  background-color: #FFAB00;
}
.bg-orange-50 {
  background-color: #FFF3E0;
}
.bg-orange-100 {
  background-color: #FFE0B2;
}
.bg-orange-200 {
  background-color: #FFCC80;
}
.bg-orange-300 {
  background-color: #FFB74D;
}
.bg-orange-400 {
  background-color: #FFA726;
}
.bg-orange-500 {
  background-color: #FF9800;
}
.bg-orange-600 {
  background-color: #FB8C00;
}
.bg-orange-700 {
  background-color: #F57C00;
}
.bg-orange-800 {
  background-color: #EF6C00;
}
.bg-orange-900 {
  background-color: #E65100;
}
.bg-orange-A100 {
  background-color: #FFD180;
}
.bg-orange-A200 {
  background-color: #FFAB40;
}
.bg-orange-A400 {
  background-color: #FF9100;
}
.bg-orange-A700 {
  background-color: #FF6D00;
}
.bg-deep-orange-50 {
  background-color: #FBE9E7;
}
.bg-deep-orange-100 {
  background-color: #FFCCBC;
}
.bg-deep-orange-200 {
  background-color: #FFAB91;
}
.bg-deep-orange-300 {
  background-color: #FF8A65;
}
.bg-deep-orange-400 {
  background-color: #FF7043;
}
.bg-deep-orange-500 {
  background-color: #FF5722;
}
.bg-deep-orange-600 {
  background-color: #F4511E;
}
.bg-deep-orange-700 {
  background-color: #E64A19;
}
.bg-deep-orange-800 {
  background-color: #D84315;
}
.bg-deep-orange-900 {
  background-color: #BF360C;
}
.bg-deep-orange-A100 {
  background-color: #FF9E80;
}
.bg-deep-orange-A200 {
  background-color: #FF6E40;
}
.bg-deep-orange-A400 {
  background-color: #FF3D00;
}
.bg-deep-orange-A700 {
  background-color: #DD2C00;
}
.bg-brown-50 {
  background-color: #EFEBE9;
}
.bg-brown-100 {
  background-color: #D7CCC8;
}
.bg-brown-200 {
  background-color: #BCAAA4;
}
.bg-brown-300 {
  background-color: #A1887F;
}
.bg-brown-400 {
  background-color: #8D6E63;
}
.bg-brown-500 {
  background-color: #795548;
}
.bg-brown-600 {
  background-color: #6D4C41;
}
.bg-brown-700 {
  background-color: #5D4037;
}
.bg-brown-800 {
  background-color: #4E342E;
}
.bg-brown-900 {
  background-color: #3E2723;
}
.bg-grey-50 {
  background-color: #FAFAFA;
}
.bg-grey-100 {
  background-color: #F5F5F5;
}
.bg-grey-200 {
  background-color: #EEEEEE;
}
.bg-grey-300 {
  background-color: #E0E0E0;
}
.bg-grey-400 {
  background-color: #BDBDBD;
}
.bg-grey-500 {
  background-color: #9E9E9E;
}
.bg-grey-600 {
  background-color: #757575;
}
.bg-grey-700 {
  background-color: #616161;
}
.bg-grey-800 {
  background-color: #424242;
}
.bg-grey-900 {
  background-color: #212121;
}
.bg-blue-grey-50 {
  background-color: #ECEFF1;
}
.bg-blue-grey-100 {
  background-color: #CFD8DC;
}
.bg-blue-grey-200 {
  background-color: #B0BEC5;
}
.bg-blue-grey-300 {
  background-color: #90A4AE;
}
.bg-blue-grey-400 {
  background-color: #78909C;
}
.bg-blue-grey-500 {
  background-color: #607D8B;
}
.bg-blue-grey-600 {
  background-color: #546E7A;
}
.bg-blue-grey-700 {
  background-color: #455A64;
}
.bg-blue-grey-800 {
  background-color: #37474F;
}
.bg-blue-grey-900 {
  background-color: #263238;
}
.bg-red-800,
.bg-red-900,
.bg-pink-700,
.bg-pink-800,
.bg-pink-900,
.bg-purple,
.bg-purple-500,
.bg-purple-600,
.bg-purple-700,
.bg-purple-800,
.bg-purple-900,
.bg-deep-purple,
.bg-deep-purple-500,
.bg-deep-purple-600,
.bg-deep-purple-700,
.bg-deep-purple-800,
.bg-deep-purple-900,
.bg-deep-purple-A400,
.bg-deep-purple-A700,
.bg-indigo,
.bg-indigo-500,
.bg-indigo-600,
.bg-indigo-700,
.bg-indigo-800,
.bg-indigo-900,
.bg-indigo-A700,
.bg-blue-800,
.bg-blue-900,
.bg-light-blue-900,
.bg-cyan-900,
.bg-teal-800,
.bg-teal-900,
.bg-green-800,
.bg-green-900,
.bg-brown,
.bg-brown-500,
.bg-brown-600,
.bg-brown-700,
.bg-brown-800,
.bg-brown-900,
.bg-blue-grey-600,
.bg-blue-grey-700,
.bg-blue-grey-800,
.bg-blue-grey-900,
.bg-grey-600,
.bg-grey-700,
.bg-grey-800,
.bg-grey-900 {
  color: rgba(255, 255, 255, 0.87);
}
.bg-red,
.bg-red-500,
.bg-red-600,
.bg-red-700,
.bg-red-A200,
.bg-red-A400,
.bg-red-A700,
.bg-pink,
.bg-pink-500,
.bg-pink-600,
.bg-pink-A200,
.bg-pink-A400,
.bg-pink-A700,
.bg-purple-300,
.bg-purple-400,
.bg-purple-A200,
.bg-purple-A400,
.bg-purple-A700,
.bg-deep-purple-300,
.bg-deep-purple-400,
.bg-deep-purple-A200,
.bg-indigo-300,
.bg-indigo-400,
.bg-indigo-A200,
.bg-indigo-A400,
.bg-blue,
.bg-blue-500,
.bg-blue-600,
.bg-blue-700,
.bg-blue-A200,
.bg-blue-A400,
.bg-blue-A700,
.bg-light-blue,
.bg-light-blue-500,
.bg-light-blue-600,
.bg-light-blue-700,
.bg-light-blue-800,
.bg-light-blue-A700,
.bg-cyan,
.bg-cyan-500,
.bg-cyan-600,
.bg-cyan-700,
.bg-cyan-800,
.bg-teal,
.bg-teal-500,
.bg-teal-600,
.bg-teal-700,
.bg-green,
.bg-green-500,
.bg-green-600,
.bg-green-700,
.bg-light-green-800,
.bg-light-green-900,
.bg-lime-900,
.bg-orange-800,
.bg-orange-900,
.bg-deep-orange,
.bg-deep-orange-500,
.bg-deep-orange-600,
.bg-deep-orange-700,
.bg-deep-orange-800,
.bg-deep-orange-900,
.bg-deep-orange-A400,
.bg-deep-orange-A700,
.bg-brown-300,
.bg-brown-400,
.bg-blue-grey,
.bg-blue-grey-400,
.bg-blue-grey-500 {
  color: #fff;
}
/* ========================================================================
   Component: layout
 ========================================================================== */
body,
.wrapper > section {
  background-color: #f5f7fa;
}
.wrapper > .aside {
  background-color: #fff;
}
/* ========================================================================
   Component: top-navbar
 ========================================================================== */
.topnavbar {
  background-color: #fff;
}
.topnavbar .navbar-header {
  background-color: transparent;
  background-image: -webkit-linear-gradient(left, #E91E63 0%, #E91E63 100%);
  background-image: -o-linear-gradient(left, #E91E63 0%, #E91E63 100%);
  background-image: linear-gradient(to right, #E91E63 0%, #E91E63 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe91e63', endColorstr='#ffe91e63', GradientType=1);
}
@media only screen and (min-width: 768px) {
  .topnavbar .navbar-header {
    background-image: none;
  }
}
.topnavbar .navbar-nav > li > .navbar-text {
  color: #E91E63;
}
.topnavbar .navbar-nav > li > a,
.topnavbar .navbar-nav > .open > a {
  color: #E91E63;
}
.topnavbar .navbar-nav > li > a:hover,
.topnavbar .navbar-nav > .open > a:hover,
.topnavbar .navbar-nav > li > a:focus,
.topnavbar .navbar-nav > .open > a:focus {
  color: #930e3b;
}
.topnavbar .navbar-nav > .active > a,
.topnavbar .navbar-nav > .open > a,
.topnavbar .navbar-nav > .active > a:hover,
.topnavbar .navbar-nav > .open > a:hover,
.topnavbar .navbar-nav > .active > a:focus,
.topnavbar .navbar-nav > .open > a:focus {
  background-color: transparent;
}
.topnavbar .navbar-nav > li > [data-toggle='navbar-search'] {
  color: #fff;
}
.topnavbar .nav-wrapper {
  background-color: #E91E63;
  background-image: -webkit-linear-gradient(left, #E91E63 0%, #E91E63 100%);
  background-image: -o-linear-gradient(left, #E91E63 0%, #E91E63 100%);
  background-image: linear-gradient(to right, #E91E63 0%, #E91E63 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe91e63', endColorstr='#ffe91e63', GradientType=1);
}
@media only screen and (min-width: 768px) {
  .topnavbar {
    background-color: #E91E63;
    background-image: -webkit-linear-gradient(left, #E91E63 0%, #E91E63 100%);
    background-image: -o-linear-gradient(left, #E91E63 0%, #E91E63 100%);
    background-image: linear-gradient(to right, #E91E63 0%, #E91E63 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe91e63', endColorstr='#ffe91e63', GradientType=1);
  }
  .topnavbar .navbar-nav > .open > a,
  .topnavbar .navbar-nav > .open > a:hover,
  .topnavbar .navbar-nav > .open > a:focus {
    box-shadow: 0 -3px 0 rgba(255, 255, 255, 0.5) inset;
  }
  .topnavbar .navbar-nav > li > .navbar-text {
    color: #fff;
  }
  .topnavbar .navbar-nav > li > a,
  .topnavbar .navbar-nav > .open > a {
    color: #fff;
  }
  .topnavbar .navbar-nav > li > a:hover,
  .topnavbar .navbar-nav > .open > a:hover,
  .topnavbar .navbar-nav > li > a:focus,
  .topnavbar .navbar-nav > .open > a:focus {
    color: #930e3b;
  }
}
/* ========================================================================
   Component: sidebar
 ========================================================================== */
.sidebar {
  background-color: #fff;
}
.sidebar .nav-heading {
  color: #919DA8;
}
.sidebar .nav > li > a,
.sidebar .nav > li > .nav-item {
  color: #515253;
}
.sidebar .nav > li > a:focus,
.sidebar .nav > li > .nav-item:focus,
.sidebar .nav > li > a:hover,
.sidebar .nav > li > .nav-item:hover {
  color: #E91E63;
}
.sidebar .nav > li > a > em,
.sidebar .nav > li > .nav-item > em {
  color: inherits;
}
.sidebar .nav > li.active,
.sidebar .nav > li.open,
.sidebar .nav > li.active > a,
.sidebar .nav > li.open > a,
.sidebar .nav > li.active .nav,
.sidebar .nav > li.open .nav {
  background-color: #fcfcfc;
  color: #E91E63;
}
.sidebar .nav > li.active > a > em,
.sidebar .nav > li.open > a > em {
  color: #E91E63;
}
.sidebar .nav > li.active {
  border-left-color: #E91E63;
}
.sidebar-subnav {
  background-color: #fff;
}
.sidebar-subnav > .sidebar-subnav-header {
  color: #515253;
}
.sidebar-subnav > li > a,
.sidebar-subnav > li > .nav-item {
  color: #515253;
}
.sidebar-subnav > li > a:focus,
.sidebar-subnav > li > .nav-item:focus,
.sidebar-subnav > li > a:hover,
.sidebar-subnav > li > .nav-item:hover {
  color: #E91E63;
}
.sidebar-subnav > li.active > a,
.sidebar-subnav > li.active > .nav-item {
  color: #E91E63;
}
.sidebar-subnav > li.active > a:after,
.sidebar-subnav > li.active > .nav-item:after {
  border-color: #E91E63;
  background-color: #E91E63;
}
/* ========================================================================
   Component: offsidebar
 ========================================================================== */
.offsidebar {
  border-left: 1px solid #cccccc;
  background-color: #fff;
  color: #656565;
}
